* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

html {
  font-size: 16px;

@media(max-width: 768px) {
  font-size: 15px;
}
@media(max-width: 480px) {
  font-size: 13px;
} 
}

.title {
  font-family: 'AlegreyaSans-Bold';
  text-transform: uppercase;
  color: black;
  font-size: 48px;
}

.button {
  height: 3.5625rem;
  width: 9.6875rem;
  border-radius: 1.875rem;
  background-color: #0f5a47;
  color: #ffffff;
  font-family: 'AlegreyaSans-ExtraBold';
  font-size: 1.1875rem;
  text-transform: uppercase;
  border: 1px solid #0f5a47;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: #0b4d3c;
  }
}

button, 
button:active, 
button:focus {
    outline: none;
}

.hero {
  background-color: #61c4d9;
  background-image: url(../img/background_one.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100vw;

}

.benefit {
  background-color: #ffffff;
  position: relative;
}

.assortment {
  background-color: #f8faf9;
  position: relative;
}

.workers {
  position: relative;
}
.menu {
    background-image: url(../img/fon_menu.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.feedback {
  position: relative;
}

.video_block {
  background-color: #f8faf9;
}

.order {
    background-color: #cfdeda;
    background-image: url(../img/fon_form.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.map {
    height: 100vh;
    background-color: #cfdeda;
    position: relative;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}