@media(max-width:768px) {
  .description {flex-direction: column;}
  .description__icon {
    height: 123px;
    width: 123px;
    margin: 25px auto;
  }
  .info {padding-top: 2.75rem; }
  .description__container-title {margin-bottom: 1rem;}
  .img {
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 1;
  }
  .img__raspberries {margin-top: 125%;}
}

@media(max-width:480px) {
  .info {padding-top: 20px;}
  .info_title {font-size: 28px;}
  .info__text {
    font-size: 13px;
    margin-bottom: 0;
  }
  .description__icon {
    height: 80px;
    width: 80px;
    margin: 4px auto;
}
  .description__container-title {
    font-size: 18px;
    margin-bottom: 3px;
  }
  .description__container-text {font-size: 12px;}
  .img {
    position: absolute;
    top: 19%;
    left: -32px;
    z-index: 1;
  }
  .img__raspberries {
    width: 55%;
    position: absolute;
    left: 17px;
    margin-top: 80px;
  }
  .img__leaf {opacity: 0;}
  
  .container_benefit {
    background-image: url('../img/leave_480.png');
    background-repeat: no-repeat;
    background-position: 0px 30%;
    background-size: 45%;
  }
  }
