.accordion {
  display: flex;
}

.accordion_title {
  color: #ffffff;
  padding-top: 6.4375rem;
  padding-left: 4.9375rem;
}

.accordion__list {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.accordion__form {
  display: flex;
}
.accordion__form-title {
  width: 6.1875rem;
  height: 100vh;
  color: #ffffff;
  writing-mode: vertical-rl;
  display: flex;
  align-items: center;
  font-family: 'AlegreyaSans-Medium';
  font-size: 3rem;
  justify-content: flex-end;
  a {
    transform: rotate(180deg);
    padding-top: 35px;
    color: #ffffff;
  }
}

.accordion__form-text {
  background-color: rgb(0, 0, 0);
  opacity: 0.749;
  color: #ffffff;
  font-family: 'AlegreyaSans-Regular';
  font-size: 1rem;
  line-height: 1.5rem;
  width: 0;
  overflow: hidden;
}

.accordion_active {
  .accordion__form-text {
    padding: 3.4375rem 0 0 1.875rem;
    width: 33.125rem;
  }
}

