.container {
  width: 1100px; 
  margin: 0 auto;
}

.container__main {
  background-image: url(../img/background_one.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__two {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__five {
  background-image: url(../img/fon_menu.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 655px;
}

.container__six {
  height: 807px;
}