.slider {
display: flex;

  &__arrow {
    display: flex;
    align-items: center;
    margin-left: 50px;
    
  }  
  &__one {
    display: flex;
    margin-top: 115px;
    justify-content: center;
    margin-left: 70px;
    height: 655px;
    @media(max-width: 480px){
      margin-top: 30px;
      margin-left: 0;
    }
    
  }
  &__pic {
    position: relative;

    &-light {
      position: absolute;
      top: 160px;
    }
    &-blue {
      position: absolute;
      top: 108px;
    }
    &-img {
      position: absolute;
      top: 30px;
    }
    &-leaves {
      position: absolute; 
      right: 70px;
      position: relative;
      top: 23%;
    }
  }
  &_title {
    font-size: 36px;
    margin-bottom: 41px;
    @media(max-width:480px) {
      font-size: 28px;
      margin-bottom: 10px;
    }
  }
  &__content-comp {
    font-family: 'AlegreyaSans-Medium';
    font-size: 23.97px;
    color: #323232;
    margin-bottom: 31px;
    @media(max-width:480px) {
      margin-bottom: 10px;
    }
  }
  &__content-text {
    font-family: 'AlegreyaSans-Regular';
    font-size: 17.98px;
    color: #666666;
    margin-bottom: 49px;
  }
  &__content-specif {
    display: flex;
    font-family: 'AlegreyaSans-Regular';
    font-size: 17.98px;
    color: #333333;
    margin-bottom: 36px;
    span {
      font-family: 'AlegreyaSans-Bold';
    }
    &-kkal {
      margin-right: 50px;
    }
  }
  &__content-order {
    display: flex;
    &-cost {
      font-family: 'AlegreyaSans-Light';
      font-size: 60px;
      text-transform: uppercase;
      color: #0d0d0d;
      margin-right: 31px;
    }
  }
  &__content-img {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    right: 0;
    top: 62%;

    @media(max-width: 480px){
      opacity: 0;
    }
    &-blueberry {
      position: absolute;
      right: 0;
      bottom: 39%; 
    }
  }
}

