.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 96px;
  &__title {
    font-family: 'AlegreyaSans-Bold';
    font-size: 48px;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 10px;
  }
  &__text {
    font-family: 'AlegreyaSans-Regular';
    font-size: 18px;
    color: #666666;
    margin-bottom: 9px;
  }
}

.description {
  display: flex;
  &__list {
    display: flex;
    width: 960px;
    justify-content: space-between;
  }
  &__icon {
    height: 132px;
    width: 132px;
    background-color: #f2f5f4;
    border-radius: 50%;
    border: 1px solid #f2f5f4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 31px auto;
  }
  &__icon-pic {
    height: 70px;
    width: 70px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__container-title {
    font-family: 'AlegreyaSans-Bold';
    font-size: 27px;
    margin-bottom: 23px;
  }
  &__container-text {
    font-family: 'AlegreyaSans-Light';
    font-size: 18px;
    color: #666666;
    text-align: center;
  }
}

.img {
  align-self: end;
  position: relative;
  bottom: 350px;
  &__leaf {
    filter: brightness(0)  invert(.95);
  }
}