.main {
  display: flex;
  flex-direction: column;
  margin-left: 4.125rem;
}

.content {
  display: flex;
  flex-direction: column;
 
  &_title {
    font-size: 3.75rem;
    color: #ffffff;

    line-height: 3.75rem;
    margin: 0 0 .3125rem;
  }
  &__text {
    font-family: 'AlegreyaSans-Regular';
    font-size: 1.3125rem;
    color: #ffffff;
    margin-bottom: 2rem;
  }
  &__button {
    height: 3.5625rem;
    margin-bottom: 4.375rem;
  }
}

.advant {
  display: flex;
  &__list {
    display: flex;
  }
  &__item {
    display: flex;
    margin-right: 2.8125rem;
  }
  &__pic-img {
    stroke: #ffffff;
    fill: transparent;
    margin-right: .625rem;
    height: 50px;
    width: 50px;
    
  }
  &__text {
    font-family: 'AlegreyaSans-Regular';
    font-size: 1rem;
    line-height: auto;
    color: #ffffff;
  }
}

.main__right {

  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.pagination {
  margin-top: 3.4375rem;
  position: fixed;
  align-self: flex-end;
&__pages {
  display: flex;
  flex-direction: column;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    filter: brightness(0)  invert(1);
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-bottom: .1875rem;
  }
  li:active, &-active {
    border: 1px solid #ffffff;
  } 
 }
}

.picture {

  &__choco {
    position: absolute;
    right: 3%;
    top: 10%;
    
  }
}

  .button_one {
    background-color: #ffffff;
    color: #0f5a47;
    border: 0;
    position: absolute;
    z-index: 2;
    margin: 0;
    &:hover {
      background-color: #0f5a47;
      color: #ffffff;
    }
  }

  .pic_hero {
    position: absolute;
    bottom: -36px;
    right: 0;
    z-index: 1;
  }

  .picture_hero {
    position: absolute;
    bottom: 15px;
    right: 26px;
  }