.team {
  display: flex;
  flex-direction: column;
  padding-top: 100px;

  &__name {
    align-self: center;
    margin-bottom: 76px;
  }
  &_title {
    margin-bottom: 76px;
    text-align: center;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    height: 462px;
    align-items: center;
    width: 940px;
    margin: 0 80px;
    li:nth-child(2n+1) {
      align-self: flex-start;
    }
  }
  &__photo {
      margin-bottom: 24px;
      height: 290px;
      width: 220px;
      background-position: center;
    }
  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-name {
      font-family: 'AlegreyaSans-Medium';
      font-size: 20.98px;
      margin-bottom: 14px;
      color: #323232;
      display: flex;
    }
    &-proff {
      font-family: 'AlegreyaSans-Regular';
      font-size: 18px;
      margin-bottom: 5px;
      color: #281e1e;
      height: 0;
      overflow: hidden;
    }
    &-text {
      color: #666666;
      font-family: 'AlegreyaSans-Light';
      font-size: 17.98px;
      text-align: center;
      height: 0;
      overflow: hidden;
    }
  }
}

.desc_active {
  .team__description-proff {
    height: 19px;
  }
  .team__description-text {
    height: 39px;
  }
  .triangle {
    transform: rotate(180deg);
  }
}

.raspberries {
  position: absolute;
  left: 3%;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #0f5a47;
  align-self: center;
  margin-left: 6px;
}
