@media(max-width: 768px)  {
  .reviews__content {
    width: 29.0625rem;
    height: 37.5rem;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .reviews__elem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reviews_active {
    height: 550px;
  }

  .reviews__content-text-title {padding: 0 6.25rem;}
  .reviews__content-text-content {padding: 0 2.07rem;}
  
  .reviews__content-photo {
    height: 12.5625rem;
    width:  12.5625rem;
    margin-right: 0;
    margin-left: 0;
    margin-top: 5rem;
  }
  .circle {margin: 0;}
  .reviews__content-text {text-align: center;}
  .branch {
    margin: 0;
    position: absolute;
    right: 0;
  }
  .reviews__content-text {margin-top: 1.69rem;}
  .reviews__title {margin-top: 4.69rem;}
}

@media(max-width:480px) {
  .reviews__content {
    width: 19.5rem;
    height: 25rem;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .reviews__title {
    font-size: 28px;
    padding: 0;
    margin-top: 2rem;
  }
  .reviews__strawberry {
    display: none;
  }
  .branch__pic {display: none;}

  .feedback {
    background-image: url('../img/strawberry.png');
    background-repeat: no-repeat;
    background-size: 32%;
    background-position: 100% 0;
  }
  .reviews__content-photo {
    height: 10rem;
    width:  10rem;
    margin-right: 0;
    margin-left: 0;
    margin-top: 3rem;
  }
  .reviews__content-text {
    width: 290px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  .reviews__content-text-title {
    font-size: 15px;
    display: flex;
    margin-bottom: 6px;
    justify-content: center;
  }
  .reviews__content-text-content {
    font-size: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}
 .reviews__content-text-name {
   font-size: 13px;
 }
}