
@media(max-width:768px) {
  .hero {
    background-color: #61c4d9;
    background-image: url('../img/background_760.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .main {
         align-items: center;
         text-align: center;
         margin: 0 auto;
  }
  .container_hero {
    background-image: url('../img/chocco760.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 78%;
  }
  .pagination {opacity: 0;}
  .content {
    align-items: center;
    margin-top: 70%;
  }
  .content__button {margin-bottom: 50px;}
  .button_one {position: static;}
  .header__nav {
    height: 27px;
    width: 27px;
    background-image:url('../img/menu_icon.png');
    background-repeat: no-repeat;
    align-self: center;
    position: relative;
    margin: 0;
    &-list {visibility: hidden;
      display: flex;
      flex-direction: column;
      position: absolute;
      justify-content: flex-start;
      padding-top: 60px;
      }
  }
  .phone_link {visibility: hidden;
               position: absolute;
               top: -1000px;
  }
  .header {
    justify-content: space-between;
    margin: 21px 24px 0;
    &__logo {margin: 0;}
  }

  .header__nav:hover .header__nav-list {
    height: 100vh;
    width: 100vw;
    top: -28px;
    right: -23px;
    background-color: #303436;
    opacity: .99;
    z-index: 10;
    text-align: center;
    visibility: visible;
  }

  .header__nav:hover  .close {
    display: block;
    z-index: 100;
  }

  .close:active .header__nav-list {
    visibility: hidden;
  }
  

  .header__nav-item {
    margin-top: 30px;
    a {
      font-size: 40px;
    }
  }
  
  .picture__choco,
  .picture__berry,
  .picture__leaves {
    visibility: hidden;
    position: relative;
    right: 1000px;
  }
}

@media(max-width:480px)  {
  .container_hero {
    background-image: url('../img/chocco480.png');
    background-position: 50% 10%;
    background-size: 70%;
  }
  .content_title {
    font-size: 32px;
    line-height: .8;
  }
  .content__text {
    font-size: 13px;
    margin-bottom: 18px;
  }
  .content__button {
    margin-bottom: 18px;
  }
  .advant__item {
    margin: 0;
    width: 30%;
  }
  .advant__text {text-align: left;}
  .advant__list {
    padding: 0 10px;
    width: 100%;
    justify-content: space-between;
  }
}

