@media(max-width:768px) {
  .accordion {position: relative;}
  .accordion__list {width: 100vw;}
  .accordion_active {
    position: absolute;
    left: 0;
    width: 38.8rem;
  }
  .accordion__form-title {
    width: 6.1875rem;
  }
}

@media(max-width:480px) {
  .accordion_title {font-size: 28px;}
  .accordion__form-title {width: 60px;}
  .accordion_active {
    
  }
  .accordion__form-text {
    font-size: 10px;
    z-index: 1;
  }
}