//breakpoints
$tablets: 768px;
$phones: 480px;

@mixin tablets {
  @media screen and (max-width: $tablets), (max-width: 1099px) {
    @content;
  }
}
@mixin phones {
  @media screen and (max-width: $phones), (max-width: 480px) {
    @content;
  }
}
.video {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.blackberry::before {
  content: url("../img/blackberry.png");
  position: absolute;
  bottom: -6.25rem;
  right: 0;
  @include tablets {
    content: url("../img/blackberry_480.png");
  }
}

