.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  &_title {
    margin-bottom: .625rem;
  }
  &__text {
    font-family: 'AlegreyaSans-Regular';
    font-size: 1.125rem;
    color: #666666;
    margin-bottom: .5625rem;
  }
}

.description {
    display: flex;
    width: 960px;
    justify-content: space-between;

  &__icon {
    height: 8.25rem;
    width: 8.25rem;
    background-color: #f2f5f4;
    border-radius: 50%;
    border: .0625rem solid #f2f5f4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.9375rem auto;
  }
  &__icon-pic {
    height: 4.375rem;
    width: 4.375rem;
    fill: #f2f5f4;
    stroke: black;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__container-title {
    font-family: 'AlegreyaSans-Bold';
    font-size: 1.6875rem;
    margin-bottom: 1.4375rem;
  }
  &__container-text {
    font-family: 'AlegreyaSans-Light';
    font-size: 1.125rem;
    color: #666666;
    text-align: center;
  }
}


.img::before {
  content: url("../img/raspberries.png");
  position: absolute;
  left: 0;
  z-index: 1;
}