.team {
  display: flex;
  flex-direction: column;
  &__content-item {
    height: 26.25rem ;
  }

  &__name {
    align-self: center;
    margin-bottom: 4.75rem;
  }
  &_title {
    margin-bottom: 4.75rem;
    text-align: center;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    height: 28.875rem;
    align-items: center;
    width: 58.75rem;
    margin: 0 5rem;
    li:nth-child(2n+1) {
      align-self: flex-start;
    }
  }
  &__photo {
      margin-bottom: 1.5rem;
      height: 18.125rem;
      width: 13.75rem;
      background-position: center;
    }
  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-name {
      font-family: 'AlegreyaSans-Medium';
      font-size: 1.3125rem;
      margin-bottom: .875rem;
      
      display: flex;
      a {color: #323232;}
    }
    &-proff {
      font-family: 'AlegreyaSans-Regular';
      font-size: 1.125rem;
      margin-bottom: 5px;
      color: #281e1e;
      height: 0;
      overflow: hidden;
    }
    &-text {
      color: #666666;
      font-family: 'AlegreyaSans-Light';
      font-size: 1.125rem;
      text-align: center;
      height: 0;
      overflow: hidden;
    }
  }
}

.desc_active {
  .team__description-proff {
    height: 1.1875rem;
  }
  .team__description-text {
    height: 3.4375rem;
  }
  .triangle {
    transform: rotate(180deg);
  }
}

.raspberries::before {
  content: url("../img/raspberry.png");
  position: absolute;
    left: 0;
    bottom: -40px;
    z-index: 10;
}
.triangle {
  width: 0;
  height: 0;
  border-left: .375rem solid transparent;
  border-right: .375rem solid transparent;
  border-top: .5rem solid #0f5a47;
  align-self: center;
  margin-left: .375rem;
}
