
@media screen and (max-width:768px),
(max-width:1099px) {
  .hero {
    background-color: #61c4d9;
    background-image: url('../img/background_760.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .main {
    align-items: center;
    text-align: center;
    margin: 0 auto;
    flex: 1;
    justify-content: flex-end;
  }

  .container_hero {
    background-image: url('../img/chocco760_min.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 70%;
  }

  .pagination {
    opacity: 0;
  }

  .content {
    align-items: center;
    margin-bottom: 25%;
  }

  .content__button {
    margin-bottom: 3.125rem;
  }

  .button_one {
    position: static;
  }

  .header__nav {
    height: 1.7rem;
    width: 1.7rem;
    background-image: url('../img/menu_icon_min.png');
    background-repeat: no-repeat;
    align-self: center;
    position: relative;
    margin: 0;

    &-list {
      visibility: hidden;
      display: flex;
      flex-direction: column;
      position: absolute;
      justify-content: flex-start;
      padding-top: 3.75rem;
    }
  }

  .phone_link {
    visibility: hidden;
    position: absolute;
    top: -1000px;
  }

  .header {
    justify-content: space-between;
    margin: 1.31rem 1.5rem 0;
    position: static;

    &__logo {
      margin: 0;
    }
  }

  .header__nav:hover .header__nav-list {
    height: 100vh;
    width: 100vw;
    top: -28px;
    right: -23px;
    background-color: #303436;
    opacity: .99;
    z-index: 10;
    text-align: center;
    visibility: visible;
  }

  .header__nav:hover .close {
    display: block;
    z-index: 100;
  }

  .close:active .header__nav-list {
    visibility: hidden;
  }


  .header__nav-item {
    margin-top: 1.875rem;

    a {
      font-size: 2.5rem;
    }
  }

  .picture_hero::before, 
  .pic_hero::before {
    visibility: hidden;
    left: -1000px;;
  }

  .pic_hero,
  .picture_hero {
    height: 0;
  }

  .advant {
    margin-top: 5px;
  }

  .advant__pic-img {
    width: 2.81rem;
  }

  .advant__item {
    margin-right: 1rem;
    display: flex;
    justify-content: baseline;
  }
}

@media screen and (max-width:480px) {
  .hero {
    background-color: #61c4d9;
    background-image: url('../img/background_480.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .container_hero {
    background-image: url('../img/chocco760_min.png');
    background-position: 50% 10%;
    background-size: 70%;
  }

  .header__nav {
    height: 1.25rem;
    width: 1.25rem;
    background-image: url(../img/menu_icon_min.png);
    background-repeat: no-repeat;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    position: relative;
    margin: 0;
    background-size: contain;
  }

  .main {
    justify-content: center;
  }

  .content {
    margin-top: 30%;
    margin-bottom: 0;
  }

  .content_title {
    font-size: 2rem;
    line-height: .8;
  }

  .content__text {
    font-size: .8rem;
    margin-bottom: 1.125rem;
  }

  .content__button {
    margin-bottom: 1.125rem;
  }

  .advant__text {
    text-align: left;
    font-size: .75rem;
  }

  .advant {
    margin-top: .3125rem;
    padding: 0 .625rem;
  }

  .advant__pic-img {
    width: 2.81rem;
  }

  .advant__item {
    margin-right: 1rem;
    display: flex;
    justify-content: baseline;
  }

  .advant__pic {
    width: 2.5rem;
  }

  .pic_hero,
  .picture_hero {
    height: 0;
  }
}

