@media screen and (max-width: 768px), (max-width: 1099px) {
  .hero {
    background-color: #61c4d9;
    background-image: url("../img/background_760.jpg");
    background-size: cover;
    background-repeat: no-repeat; } }

@media screen and (max-width: 480px), (max-width: 480px) {
  .hero {
    background-color: #61c4d9;
    background-image: url("../img/background_480.jpg");
    background-size: cover;
    background-repeat: no-repeat; } }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 4.125rem; }
  @media screen and (max-width: 768px), (max-width: 1099px) {
    .main {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      margin: 0 auto;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; } }
  @media screen and (max-width: 480px), (max-width: 480px) {
    .main {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

@media screen and (max-width: 768px), (max-width: 1099px) {
  .container_hero {
    background-image: url("../img/chocco760_min.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 70%; } }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 768px), (max-width: 1099px) {
    .content {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 25%; } }
  @media screen and (max-width: 480px), (max-width: 480px) {
    .content {
      margin-top: 30%;
      margin-bottom: 0; } }
  .content_title {
    font-size: 3.75rem;
    color: #ffffff;
    line-height: 3.75rem;
    margin: 0 0 0.3125rem; }
    @media screen and (max-width: 480px), (max-width: 480px) {
      .content_title {
        font-size: 2rem;
        line-height: .8; } }
  .content__text {
    font-family: 'AlegreyaSans-Regular';
    font-size: 1.3125rem;
    color: #ffffff;
    margin-bottom: 2rem; }
    @media screen and (max-width: 480px), (max-width: 480px) {
      .content__text {
        font-size: 0.8125rem;
        margin-bottom: 1.125rem; } }
  .content__button {
    height: 3.5625rem;
    margin-bottom: 4.375rem; }
    @media screen and (max-width: 768px), (max-width: 1099px) {
      .content__button {
        margin-bottom: 3.125rem; } }
    @media screen and (max-width: 480px), (max-width: 480px) {
      .content__button {
        margin-bottom: 1.125rem; } }

.advant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px), (max-width: 1099px) {
    .advant {
      margin-top: 5px; } }
  @media screen and (max-width: 480px), (max-width: 480px) {
    .advant {
      margin-top: 0.3125rem;
      padding: 0 0.625rem; } }
  .advant__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .advant__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 2.8125rem; }
    @media screen and (max-width: 768px), (max-width: 1099px) {
      .advant__item {
        margin-right: 1rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
        justify-content: baseline; } }
    @media screen and (max-width: 480px), (max-width: 480px) {
      .advant__item {
        margin-right: 1rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
        justify-content: baseline; } }
  .advant__pic-img {
    stroke: #ffffff;
    fill: transparent;
    margin-right: 0.625rem;
    height: 3.125rem;
    width: 3.125rem; }
    @media screen and (max-width: 768px), (max-width: 1099px) {
      .advant__pic-img {
        width: 2.8125rem; } }
  .advant__text {
    font-family: 'AlegreyaSans-Regular';
    font-size: 1rem;
    line-height: auto;
    color: #ffffff; }
    @media screen and (max-width: 480px), (max-width: 480px) {
      .advant__text {
        text-align: left;
        font-size: 0.75rem; } }

.main__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end; }

.button_one {
  background-color: #ffffff;
  color: #0f5a47;
  border: 0;
  position: absolute;
  z-index: 2;
  margin: 0; }
  @media screen and (max-width: 768px), (max-width: 1099px) {
    .button_one {
      position: static; } }
  .button_one:hover {
    background-color: #0f5a47;
    color: #ffffff; }

.picture_hero::before {
  content: url("../img/leaves.png");
  position: absolute;
  bottom: 0.9375rem;
  right: 1.625rem; }
  @media screen and (max-width: 768px), (max-width: 1099px) {
    .picture_hero::before {
      visibility: hidden;
      left: -1000px; } }

.advant__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px), (max-width: 480px) {
    .advant__pic {
      width: 2.5rem; } }

.pic_hero::before {
  content: url("../img/berries.png");
  position: absolute;
  bottom: -2.25rem;
  right: 0;
  z-index: 1; }
  @media screen and (max-width: 768px), (max-width: 1099px) {
    .pic_hero::before {
      visibility: hidden;
      left: -1000px; } }
